$primaryColor1: hsl(26, 100%, 55%);
$primaryColor2: hsl(25, 100%, 94%);

$secondaryColor1: hsl(220, 13%, 13%);
$secondaryColor2: hsl(219, 9%, 45%);
$secondaryColor3: hsl(220, 14%, 75%);
$secondaryColor4: hsl(223, 64%, 98%);
$secondaryColor5: hsl(0, 0%, 100%);
$secondaryColor6: hsl(0, 0%, 0%);

$font: 'Kumbh Sans', sans-serif;

