@import "variables";
@import "reset";
@import "mixin";
@import "responsiveness";

body {
  height: 100vh;
  font-family: $font;
}

.d-flex {
  display: flex;
}
nav {
  width: 90%;
  height: 10vh;
  border-bottom: 10px;
  @include d-flexcent(row);
  margin: 0 auto;
  border-bottom: 2px solid $secondaryColor3;

  .brand-name {
    width: 20%;
    height: 100%;
    @include d-flexcent(column);
    font-size: 20px;
    @include font-weight(bold);
    color: $secondaryColor1;
  }

  .nav-content {
    width: 60%;
    height: 100%;

    ul {
      width: 70%;
      @include d-flexcent(row);
      height: 100%;

      li {
        margin: auto;
        font-size: 16px;
        cursor: pointer;
        height: 100%;
        @include d-flexcent(row);
        transition: 0.3s;
        border-bottom: 3px solid rgba(0, 0, 0, 0);
        a {
          color: $secondaryColor2;
        }
        &:hover {
          transition: 0.3s;
          border-bottom: 3px solid $primaryColor1;
        }
      }
    }
  }

  .other-content {
    width: 20%;
    height: 100%;
    @include d-flexcent(row);

    img {
      margin: 10px;
      cursor: pointer;
    }

    .cart-cont {
      position: relative;

      
      .badge {
        display: none !important;
        position: absolute;
        width: 25px;
        height: 15px;
        background-color: $primaryColor1;
        left: 50%;
        top: -2px;
        border-radius: 20px;
        @include d-flexcent(row);
        color: $secondaryColor5;
        @include font-weight(bold);
      }
    }

    .avatar {
      width: 50px;
      height: 50px;
      border: 3px solid rgba(0, 0, 0, 0);
      border-radius: 50%;
      transition: 0.3s;

      &:hover {
        border: 3px solid $primaryColor1;
        transition: 0.3s;
      }
    }
  }
}

main{
  height: 90vh;
  width: 100%;
  @include d-flexcent(row); // Display flex
  gap: 20px;
  @include respond-to (desktop){
    padding:50px 70px;
  }

  @include respond-to(phone){
    @include d-flexcent(column);
  }

  .half{
    width: 50%;
    height: 100%;
    @include respond-to(phone){

    }

    

  }
}
