@import "variables";
@import "reset";
@import "mixin";
@import "responsiveness";

body {
  height: 100vh;
  font-family: $font;
}

*::selection {
  background-color: black;
  color: white;
}

.d-flex {
  display: flex;
}
.img100 {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: inherit;
}
nav {
  width: 90%;
  height: 10vh;
  border-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-bottom: 2px solid $secondaryColor3;

  @include max-device(tablet) {
    justify-content: space-between;
    border-bottom: none;
  }

  .brand-name {
    width: 20%;
    height: 100%;
    @include d-flexcent(column);
    font-size: 20px;
    @include font-weight(bold);
    color: $secondaryColor1;
  }

  .nav-content {
    width: 60%;
    height: 100%;

    @include max-device(tablet) {
      display: none;
    }

    ul {
      width: 100%;
      @include d-flexcent(row);
      height: 100%;

      li {
        margin: 0 auto;
        font-size: 16px;
        cursor: pointer;
        height: 100%;
        @include d-flexcent(row);
        transition: 0.3s;
        border-bottom: 3px solid rgba(0, 0, 0, 0);
        a {
          color: $secondaryColor2;
        }
        &:hover {
          transition: 0.3s;
          border-bottom: 3px solid $primaryColor1;
        }
      }
    }
  }

  .other-content {
    width: 20%;
    height: 100%;
    @include d-flexcent(row);

    img {
      margin: 10px;
      cursor: pointer;
    }

    .cart-cont {
      position: relative;

      .badge {
        position: absolute;
        width: 25px;
        height: 15px;
        background-color: $primaryColor1;
        left: 50%;
        top: -2px;
        border-radius: 20px;
        @include d-flexcent(row);
        color: $secondaryColor5;
        @include font-weight(bold);
      }

      .basket {
        width: 300px;
        height: fit-content;
        background-color: white;
        position: absolute;
        left: -100px;
        top: 70px;
        z-index: 3;
        border-radius: 10px;
        animation-name: fade-in;
        animation-duration: 1s;
        animation-iteration-count: 1;
        box-shadow: 1px 1px 20px 3px rgba(0, 0, 0, 0.185);

        .cart-head-box {
          height: 50px;
          padding: 0 15px;
          align-items: center;
          border-bottom: 1px solid $secondaryColor3;
          font-family: $font;
          font-size: 18px;
        }

        .cart-empty{
          text-align: center;
          height: 170px;
          padding: 0px 20px;
          @include d-flexcent(column);
          font-weight: bold;
          font-family: $font;
        }


        .cart-item{
          @include d-flex(row);
          align-items: center;
          justify-content: space-around;
          height: 60px;

          img{
            width: 50px;
            height: 50px;
             border-radius: 5px;
          }

          button{
            display: block;
            background-color: rgba(0,0,0,0);
            height: 50px;
            border: none;
            cursor: pointer;
          }

          .cart-info{


            .cart-text{
              font-size: 14px;
              font-weight: 600;
              color: $secondaryColor2;
              margin-bottom: 3px;
            }


            .price-info{
              // width: 75%;
              // justify-content: space-around;
              color: $secondaryColor2;
              span{
                margin: 0px 5px;
              }

              .total-price{
                color: $secondaryColor6;
                font-weight: 700;
              }
            }
          }
        }

        .checkoutBtn{
          background-color: $primaryColor1;
          border: none;
          width: 90%;
          display: block;
          color: $secondaryColor5;
          margin: 20px auto;
          padding: 15px 20px;
          border-radius: 10px;
          font-weight: 700;
          transition: .4s;
          cursor: pointer;

          &:active{
            transform: scale(0.9);
            transition: .4s;
          }
        }

      
      }
    }

    .avatar {
      width: 50px;
      height: 50px;
      border: 3px solid rgba(0, 0, 0, 0);
      border-radius: 50%;
      transition: 0.3s;

      &:hover {
        border: 3px solid $primaryColor1;
        transition: 0.3s;
      }
    }
  }
}

main {
  height: 90vh;
  width: 100%;
  @include d-flexcent(row); // Display flex
  gap: 200px;
  padding: 50px 90px;

  @include max-device(tablet) {
    padding: 30px 25px;
    gap: 20px;
  }

  @include max-device(phone) {
    @include d-flexcent(column);
    height: fit-content;
    padding: 0;
  }

  .half {
    width: 50%;
    height: 100%;
    @include d-flex(column);
    justify-content: center;
    gap: 20px;

    @include max-device(tablet) {
      width: 100%;
      height: 100%;
    }

    &:nth-child(2) {
      @include respond-to(phone) {
        padding: 0 20px;
        margin-bottom: 50px;
      }
    }
    .pic-cont {
      height: 80%;
      border-radius: 20px;
      width: 100%;

      @include max-device(phone) {
        border-radius: 0px;
        height: 250px;
      }

      @include respond-to(tablet) {
        height: 70%;
      }
    }

    .pic-thumbnail-cont {
      width: 100%;
      // @include d-flexcent(row);
      height: 20%;
      justify-content: space-between;
      gap: 10px;
      cursor: pointer;

      @include max-device(phone) {
        display: none;
      }

      .pic-thumbnail {
        width: 20%;
        height: 100%;
        border-radius: 10px;
        position: relative;
      }

      .active {
        background-color: rgba(255, 255, 255, 0.432);
        z-index: 3;
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 10%;
        border: 2px solid $primaryColor1;
      }
    }

    .introductory-text {
      text-transform: uppercase;
      color: $primaryColor1;
      font-family: $font;
      font-size: 16px;
    }

    h1 {
      font-family: $font;
      font-size: 3em;

      @include max-device(phone) {
        font-size: 2em;
      }

      @include max-device(tablet) {
        font-size: 2.5em;
      }
    }

    .support-text {
      font-family: $font;
      font-size: 16px;
      color: $secondaryColor2;
      line-height: 25px;

      @include max-device(phone) {
        font-size: 14px;
      }

      @include max-device(tablet) {
        font-size: 15px;
      }
    }

    .price-box {
      @include d-flex(row);
      height: 50px;
      align-items: center;
      margin-bottom: 0;

      .price,
      .discount {
        @include d-flexcent(column);
      }
      .price {
        font-size: 1.5em;
        font-family: $font;
        @include font-weight(bold);
        margin-right: 20px;
        margin-bottom: 10px;
        margin-top: 30px;
      }
      .discount {
        background-color: $primaryColor2;
        height: 30px;
        font-family: $font;
        padding: 5px 10px;
        @include font-weight(bold);
        border-radius: 10px;
      }

      .old-price {
        text-decoration: line-through;
        color: $secondaryColor3;
      }
    }

    .button-box {
      @include d-flexcent(row);
      width: 100%;
      gap: 20px;
      margin-top: 30px;

      .item-value-box {
        height: 45px;
        width: 33%;
        border-radius: 10px;
        background-color: $secondaryColor4;
        @include d-flex(row);
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;

        svg {
          cursor: pointer;
        }

        .btn-value{
          border: none;
          background-color: rgba(0,0,0,0);
          cursor: pointer;
        }
      }

      .add-to-cart-btn {
        border-radius: 10px;
        background: $primaryColor1;
        width: 66%;
        height: 45px;
        cursor: pointer;
        border: none;
        box-shadow: 1px 2px 10px 0px $primaryColor1;
        color: $secondaryColor5;
        transition: 0.5s;
        @include font-weight(bold);
        font-family: $font;
        font-size: 1.1em;
        @include d-flexcent(row);

        &::first-letter {
          left: 30px;
        }
        &:active {
          transition: 0.5s;
          transform: scale(0.9);
        }
      }
    }
  }
}

.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.753);
  z-index: 3;
  @include d-flexcent(column);
  backdrop-filter: blur(10px);
}
.modal {
  position: fixed;
  width: fit-content;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  height: fit-content;
  display: block;
  z-index: 5;
  .pic-cont {
    width: 400px;
    height: 420px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
    button {
      position: absolute;
      @include d-flexcent(row);
      cursor: pointer;
      border: none;
    }
    .btn-slide {
      top: 50%;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $secondaryColor5;
      transform: translateY(-50%);

      &:hover svg {
        stroke: $primaryColor1;
      }
      svg {
        stroke: #1d2026;
      }
    }
    .next {
      right: -15px;
    }
    .prev {
      left: -15px;
    }

    .btn-close {
      position: absolute;
      top: -20px;
      right: 0;
      background-color: rgba(0, 0, 0, 0);
      svg {
        fill: $secondaryColor5;

        &:hover {
          fill: $primaryColor1;
          content: "";
        }
      }
    }
  }

  .pic-thumbnail-cont-modal {
    width: 400px;
    cursor: pointer;
    justify-content: space-around;
    margin-top: 20px;

    .pic-thumbnail-modal {
      width: 20%;
      height: 100%;
      border-radius: 10px;
      position: relative;
    }

    .white-overlay-modal {
      z-index: 3;
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 10%;

      &:hover {
        background-color: rgba(255, 255, 255, 0.432);
      }
    }
    .active {
      background-color: rgba(255, 255, 255, 0.432);
      border: 2px solid $primaryColor1;
    }
  }
}

.hidden {
  display: none !important;
}


@keyframes fade-in {
  from{
    opacity: 0%;
  }
  to{
    opacity: 100%;
  }
}