* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
}

*::-moz-selection {
  background-color: black;
  color: white;
}

*::selection {
  background-color: black;
  color: white;
}

.d-flex {
  display: flex;
}

.img100 {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: inherit;
}

nav {
  width: 90%;
  height: 10vh;
  border-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-bottom: 2px solid hsl(220, 14%, 75%);
}
@media screen and (max-width: 991px) {
  nav {
    justify-content: space-between;
    border-bottom: none;
  }
}
nav .brand-name {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  color: hsl(220, 13%, 13%);
}
nav .nav-content {
  width: 60%;
  height: 100%;
}
@media screen and (max-width: 991px) {
  nav .nav-content {
    display: none;
  }
}
nav .nav-content ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}
nav .nav-content ul li {
  margin: 0 auto;
  font-size: 16px;
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
}
nav .nav-content ul li a {
  color: hsl(219, 9%, 45%);
}
nav .nav-content ul li:hover {
  transition: 0.3s;
  border-bottom: 3px solid hsl(26, 100%, 55%);
}
nav .other-content {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
nav .other-content img {
  margin: 10px;
  cursor: pointer;
}
nav .other-content .cart-cont {
  position: relative;
}
nav .other-content .cart-cont .badge {
  position: absolute;
  width: 25px;
  height: 15px;
  background-color: hsl(26, 100%, 55%);
  left: 50%;
  top: -2px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}
nav .other-content .cart-cont .basket {
  width: 300px;
  height: 250px;
  background-color: white;
  position: absolute;
  left: -100px;
  top: 70px;
  z-index: 3;
  border-radius: 10px;
  box-shadow: 1px 1px 20px 3px rgba(0, 0, 0, 0.185);
}
nav .other-content .cart-cont .basket .cart-head-box {
  height: 50px;
  padding: 0 15px;
  align-items: center;
  border-bottom: 1px solid hsl(220, 14%, 75%);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
}
nav .other-content .cart-cont .basket .cart-empty {
  text-align: center;
  height: 170px;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: "Kumbh Sans", sans-serif;
}
nav .other-content .avatar {
  width: 50px;
  height: 50px;
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  transition: 0.3s;
}
nav .other-content .avatar:hover {
  border: 3px solid hsl(26, 100%, 55%);
  transition: 0.3s;
}

main {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 200px;
  padding: 50px 90px;
}
@media screen and (max-width: 991px) {
  main {
    padding: 30px 25px;
    gap: 20px;
  }
}
@media screen and (max-width: 576px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
  }
}
main .half {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
@media screen and (max-width: 991px) {
  main .half {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 576px) {
  main .half:nth-child(2) {
    padding: 0 20px;
    margin-bottom: 50px;
  }
}
main .half .pic-cont {
  height: 80%;
  border-radius: 20px;
  width: 100%;
}
@media screen and (max-width: 576px) {
  main .half .pic-cont {
    border-radius: 0px;
    height: 250px;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  main .half .pic-cont {
    height: 70%;
  }
}
main .half .pic-thumbnail-cont {
  width: 100%;
  height: 20%;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  main .half .pic-thumbnail-cont {
    display: none;
  }
}
main .half .pic-thumbnail-cont .pic-thumbnail {
  width: 20%;
  height: 100%;
  border-radius: 10px;
  position: relative;
}
main .half .pic-thumbnail-cont .active {
  background-color: rgba(255, 255, 255, 0.432);
  z-index: 3;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10%;
  border: 2px solid hsl(26, 100%, 55%);
}
main .half .introductory-text {
  text-transform: uppercase;
  color: hsl(26, 100%, 55%);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
}
main .half h1 {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 3em;
}
@media screen and (max-width: 576px) {
  main .half h1 {
    font-size: 2em;
  }
}
@media screen and (max-width: 991px) {
  main .half h1 {
    font-size: 2.5em;
  }
}
main .half .support-text {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
  color: hsl(219, 9%, 45%);
  line-height: 25px;
}
@media screen and (max-width: 576px) {
  main .half .support-text {
    font-size: 14px;
  }
}
@media screen and (max-width: 991px) {
  main .half .support-text {
    font-size: 15px;
  }
}
main .half .price-box {
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
  margin-bottom: 0;
}
main .half .price-box .price,
main .half .price-box .discount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .half .price-box .price {
  font-size: 1.5em;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 30px;
}
main .half .price-box .discount {
  background-color: hsl(25, 100%, 94%);
  height: 30px;
  font-family: "Kumbh Sans", sans-serif;
  padding: 5px 10px;
  font-weight: 700;
  border-radius: 10px;
}
main .half .price-box .old-price {
  text-decoration: line-through;
  color: hsl(220, 14%, 75%);
}
main .half .button-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
  margin-top: 30px;
}
main .half .button-box .item-value-box {
  height: 45px;
  width: 33%;
  border-radius: 10px;
  background-color: hsl(223, 64%, 98%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
main .half .button-box .item-value-box svg {
  cursor: pointer;
}
main .half .button-box .add-to-cart-btn {
  border-radius: 10px;
  background: hsl(26, 100%, 55%);
  width: 66%;
  height: 45px;
  cursor: pointer;
  border: none;
  box-shadow: 1px 2px 10px 0px hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  transition: 0.5s;
  font-weight: 700;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
main .half .button-box .add-to-cart-btn::first-letter {
  left: 30px;
}
main .half .button-box .add-to-cart-btn:active {
  transition: 0.5s;
  transform: scale(0.9);
}

.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.753);
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.modal {
  position: fixed;
  width: -moz-fit-content;
  width: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: -moz-fit-content;
  height: fit-content;
  display: block;
  z-index: 5;
}
.modal .pic-cont {
  width: 400px;
  height: 420px;
  position: relative;
}
.modal .pic-cont img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.modal .pic-cont button {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}
.modal .pic-cont .btn-slide {
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: hsl(0, 0%, 100%);
  transform: translateY(-50%);
}
.modal .pic-cont .btn-slide:hover svg {
  stroke: hsl(26, 100%, 55%);
}
.modal .pic-cont .btn-slide svg {
  stroke: #1d2026;
}
.modal .pic-cont .next {
  right: -15px;
}
.modal .pic-cont .prev {
  left: -15px;
}
.modal .pic-cont .btn-close {
  position: absolute;
  top: -20px;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
}
.modal .pic-cont .btn-close svg {
  fill: hsl(0, 0%, 100%);
}
.modal .pic-cont .btn-close svg:hover {
  fill: hsl(26, 100%, 55%);
  content: "";
}
.modal .pic-thumbnail-cont-modal {
  width: 400px;
  cursor: pointer;
  justify-content: space-around;
  margin-top: 20px;
}
.modal .pic-thumbnail-cont-modal .pic-thumbnail-modal {
  width: 20%;
  height: 100%;
  border-radius: 10px;
  position: relative;
}
.modal .pic-thumbnail-cont-modal .white-overlay-modal {
  z-index: 3;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10%;
}
.modal .pic-thumbnail-cont-modal .white-overlay-modal:hover {
  background-color: rgba(255, 255, 255, 0.432);
}
.modal .pic-thumbnail-cont-modal .active {
  background-color: rgba(255, 255, 255, 0.432);
  border: 2px solid hsl(26, 100%, 55%);
}

.hidden {
  display: none !important;
}/*# sourceMappingURL=main.css.map */